/* defining all purpose colors as variables */
:root {
    --backColor: #222; --pegBody: #b97; --pegSelect: #fd9;
    --board: #ba9; --borders: #431; --overlay: rgba(0,0,0,.5);
    --warning: #f55;
  }
  @font-face {
    font-family: 'HennyPeny';
    src: url('./HennyPenny-Regular.ttf');
  }
* {
    padding: 0;
    margin: 0;
}
body{
    user-select: none;
    background-color: var(--backColor);
    text-align: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
    overflow: hidden;
}

h1, h2{
    font-family: 'HennyPeny';
    color: var(--pegBody);
    margin: 1vh 0 0 0;
    font-size: calc(2vw + 10px);
    text-shadow: 0 0 4px #000, 0 0 20px #edc;
    display: inline-block;
}
h1{
    font-size: calc( 3vw + 20px);
}
.bigTxt{
    font-size: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 0 10px 20px #000;
}
.medTxt{
    font-size: 40px;
    font-family: 'HennyPeny';
    text-shadow: 0 5px 10px #000;
}
#shade{
    position: fixed;
    display: none;
    width: 100vw;
    height: 100vh;
    left: 0;
    background-color: rgba(0,0,0,.5);
}
#band{
    position: absolute;
    height: 100px;
    width: 100%;
    top: calc(100px + 12vw);
    background-color: var(--pegBody);
    z-index: -1;
}
#title{
    cursor: default;
    display: inline-block;
    margin: 4%;
}
#help{
    cursor: pointer;
    margin: -5%;
    text-decoration-line: underline;
    letter-spacing: .8vw;
    font-size: calc(1.5vw+15px);
    visibility: hidden;
    color: var(--pegBody);
    
}
#help:hover{
    color: var(--pegSelect);
}
#title:hover > #help { visibility: visible; }

#popup{
    /* width: 60vw;  */
    width: 0;
    /* height: calc( 80vh - 10vw ); */
    height: 0;
    
    background-color: var(--pegBody);

    border-radius: 20px;
    box-shadow: 0 10px 20px #000;
    overflow: hidden;
    position: fixed;
    top: 20%;
    transition:  all .5s;
    color: var(--pegSelect);
    border: 1px solid  var(--pegBody);
    /* display: none; */
}
#popup.show{
    width: 60vw;
    height: calc( 80vh - 10vw );
    right: 20vw;
    transform: rotate( 360deg );
}

#popup-bottom{
    width: 100%;
    height: 40%;
    background-color: var(--backColor);
    background-color:#6f5e4c;
    position:absolute; 
    bottom:0;
}
#popLevelNum{
    margin: 2vh auto 0;

}
#popLevelName{
    color: #eec;
}
#popMsg{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: calc( 45px + 3.3vw);
    color:  var(--backColor);
    position: absolute;
    /* top: calc( 1vw + 40%); */
    top: calc( 55% - 5vw);
    left: calc( 26vw - 70px);
    transform: scale(1, 1.5);
    opacity: .5;
}
#btAgain{

}
.btn{
    display: inline-block;
    width: 20%;
    height: 30%;
    border-radius: 20px;
    margin: 10% 0 ;
    top: calc(10% + 5vw);
    background-color: var(--borders);
    color: var(--pegSelect);
    font-size: calc(1vw + 5px);
    box-shadow: 0 4px 10px #210;
    cursor: pointer;
    transition: all .5s;
    outline: none;
    background-image: -webkit-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
    background-image: linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
}

.btn:hover {
    background-color: #850;
    color: #fff;
    box-shadow: 0 4px 10px #000;

}
.btn:active{
    background-color: #321;
    color:  var(--borders);
}
#wrap{
    width:  90vw;
    height: 400px;
    /* outline: 1px solid #ff0; */
    margin: 0 auto;
    text-align: center;
}
#board , #msgPanel {
    display: inline-block;
    width: max( 20vw , 400px);
    height:  max( 20vw , 400px);
    margin: 0 1%;
    padding: 0;
    /* outline: 1px solid #f00; */
}
#topText{
    /* border: 1px solid green; */
    position: absolute;
    top: 220px;
    text-align: center;
    /* width: 20%; */
}
#levelNum , #levelName {
   /* position: absolute; /* Strange! All other values push msPanel down! just absolute works*/
    color: var(--board);
    /* margin: 0 auto; */
}
#levelNum{
    top: 30%;
}
#levelName{
    cursor: pointer;
    transition: color .5s;

}
#levelName:hover{
    color: var(--warning);
    text-shadow: 0 0 5px #000;
    font-size: 30px;
    /* line-height: 58px; to compensate moving down of levelNum */
}
#levelName:active{
    /* color: #900; */
    opacity: .5;
    font-size: 28px;
}
.roundLbl{
    font-size: 40px;
    color: var(--warning);
    text-shadow: 0 0 10px #f00 ;
    margin: 10px;
    border-radius: 30px;
    border: 2px solid var(--warning);
}


#board{
    border-radius: 20px;
    background-color: #858585;
    box-shadow: 10px 10px 25px #000;
    background-image: url("../img/JOWboard.png"); 
    background-repeat: repeat;
    
}

#innerBoard{
    /* outline: 1px solid #0ff; */
    width: 80%;
    height: 80%;
    margin: 10%;
}
.cell{
     /* outline: 1px solid #000;  */
    width: 25%;
    height: 25%;

}
.cellImg{
    width: 25%;
    height: 25%;
    background-image: url("../img/JOWcells.png"); 
    background-size: cover;
    background-position-x: 0;
    display: inline-block;
    border-radius: 40px;
    cursor: pointer;
}
.cellImg:hover{
    /* outline: 2px solid #bbb; */
    filter: brightness(1.1);
}
